.rowAC {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.rowACJS {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.rowACJE {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.rowACJSB {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
