body {
	font-family: Helvetica;
}
input::-ms-clear {
	display: none;
}			
td.Prc {
	min-width: 60px;
	text-align: right;
}
table.KKK {
	border: 0;
	border-spacing: 0;
	background-color: white;
	}

table.KKK th {
	color: white;
	background-color: #f1f1f1;
}

table.KKK tr:nth-child(even) {
	background: #efefef;
}

table.KKK td {
	border: 2px solid #e1e1e1;
	padding: 3px;
}